* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  background: #ededed;
}
.product-card {
  width: 350px;
  margin: 100px auto 0;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card-content p {
  line-height: 1.4;
  margin-bottom: 15px;
}

.card-content ul {
  margin-bottom: 30px;
}

.card-content li {
  color: #222;
  font-weight: 600;
  list-style-type: none;
  margin: 6px 0;
}
