:root {
  --primary-color: coral;
  --text-color: #222;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--text-color);
}

.about {
  --primary-color: blue;
}

.about p {
  background-color: var(--primary-color);
}
